<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Logged Out</title>
  </head>
  <body>
    <div class="container">
        <nav>
  <ul>
    <li><strong>fastify-openid-client</strong></li>
  </ul>
  <ul>
    <li><a href="https://github.com/lukaslerche/fastify-openid-client">GitHub</a></li>
    
  </ul>
</nav>
<main>
      <h1>Logged Out</h1>

      <div>message: {{message}}</div>
      <div>redirectUrl: <a href="{{redirectUrl}}">{{redirectUrl}}</a></div>

    </main>
    </div>
  </body>
</html>